SoundCloudTelegramBot/.idea
SoundCloudTelegramBot/SoundCloudTelegramBot/obj
SoundCloudTelegramBot/SoundCloudTelegramBot/appsettings.Development.json
SoundCloudTelegramBot/SoundCloudTelegramBot/appsettings.json
SoundCloudTelegramBot/SoundCloudTelegramBot/bin
